# Dhan API (for Indian Equity and MCX)
DHAN_CLIENT_ID=1107556394
DHAN_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkaGFuIiwicGFydG5lcklkIjoiIiwiZXhwIjoxNzc0MjEyNDUwLCJpYXQiOjE3NzQxMjYwNTAsInRva2VuQ29uc3VtZXJUeXBlIjoiU0VMRiIsIndlYmhvb2tVcmwiOiIiLCJkaGFuQ2xpZW50SWQiOiIxMTA3NTU2Mzk0In0.8Jt0SIxKKMqcQCR1TTedaX-OZZbbNBj2jVdcEbMSlisuQbYqVHpre5YVbcFzVOoZ76D3LPWFX0XA6HS3RTxpHw

# Twelve Data API Key for Commodities and Currencies
TWELVE_DATA_API_KEY=a4da1dbf1a5b4522984d393fcfcd8141

# App URL (automatically set in production)
APP_URL=
